<?xml version="1.0" encoding="utf-8"?>
<Books>
  <Book>
    <Author>Author</Author>
    <Name>C</Name>
    <Publication>asd1</Publication>
    <PublicationYear>2022</PublicationYear>
    <IssueDate>2022-04-25T00:00:00</IssueDate>
    <ReturnPeriod>15</ReturnPeriod>
    <IsReturned>true</IsReturned>
  </Book>
  <Book>
    <Author>Author2</Author>
    <Name>C++ </Name>
    <Publication>ffefefe</Publication>
    <PublicationYear>2020</PublicationYear>
    <IssueDate>2022-04-25T00:00:00</IssueDate>
    <ReturnPeriod>45</ReturnPeriod>
    <IsReturned>true</IsReturned>
  </Book>
  <Book>
    <Author>Author3</Author>
    <Name>C#</Name>
    <Publication>qww</Publication>
    <PublicationYear>2019</PublicationYear>
    <IssueDate>2022-05-12T00:00:00</IssueDate>
    <ReturnPeriod>30</ReturnPeriod>
    <IsReturned>false</IsReturned>
  </Book>
  <Book>
    <Author>Author4</Author>
    <Name>Python</Name>
    <Publication>wer</Publication>
    <PublicationYear>2018</PublicationYear>
    <IssueDate>2022-04-13T00:00:00</IssueDate>
    <ReturnPeriod>10</ReturnPeriod>
    <IsReturned>false</IsReturned>
  </Book>
  <Book>
    <Author>Author5</Author>
    <Name>Java</Name>
    <Publication>dfg</Publication>
    <PublicationYear>2007</PublicationYear>
    <IssueDate>2022-05-07T00:00:00</IssueDate>
    <ReturnPeriod>25</ReturnPeriod>
    <IsReturned>true</IsReturned>
  </Book>
  <Book>
    <Author>Author7</Author>
    <Name>Ruby</Name>
    <Publication>asdf</Publication>
    <PublicationYear>2022</PublicationYear>
    <IssueDate>2022-02-19T00:00:00</IssueDate>
    <ReturnPeriod>50</ReturnPeriod>
    <IsReturned>true</IsReturned>
  </Book>
  <Book>
    <Author>Author8</Author>
    <Name>php</Name>
    <Publication>wdfg</Publication>
    <PublicationYear>2016</PublicationYear>
    <IssueDate>2022-04-15T00:00:00</IssueDate>
    <ReturnPeriod>30</ReturnPeriod>
    <IsReturned>true</IsReturned>
  </Book>
  <Book>
    <Author>Author9</Author>
    <Name>C++</Name>
    <Publication>dfdf</Publication>
    <PublicationYear>2002</PublicationYear>
    <IssueDate>2022-06-06T00:00:00</IssueDate>
    <ReturnPeriod>10</ReturnPeriod>
    <IsReturned>true</IsReturned>
  </Book>
  <Book>
    <Author>Author10</Author>
    <Name>Appian</Name>
    <Publication>dlfldjf</Publication>
    <PublicationYear>2008</PublicationYear>
    <IssueDate>2002-07-13T00:00:00</IssueDate>
    <ReturnPeriod>10</ReturnPeriod>
    <IsReturned>true</IsReturned>
  </Book>
</Books>